*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
Developer-Examples/build/
Developer-Examples/hmt1developerexamples/build/
Developer-Examples/local.properties
hmt1developerexamples/debug/
hmt1developerexamples/release/
gradle/wrapper/gradle-wrapper.properties
